body {
	font-family: 'Noto Sans TC',sans-serif;
}

h1 {
	font-family: 'Noto Sans TC',sans-serif;
}

.bg-primary {
	background-color: #001324!important;
        background-image: url("../img/snow.png");
}

.text-primary{
       font-family: 'Nunito', sans-serif;
       color: #001240!important;
}
