body {
	font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3 {
	font-family: 'Noto Sans TC',sans-serif!important;
}

.bg-primary {
	background-color: #001324!important;
        background-image: url("../img/snow.png");
}

.text-primary{
       font-family: 'Nunito', sans-serif;
       color: #001324!important;
       font-size: 80%;
}

table{
       text-align: center;
}

td:nth-child(2){
       padding-right: 3rem;
}
