body {
	font-family: 'Noto Sans TC',sans-serif;
}

h1 {
	font-family: 'Noto Sans TC',sans-serif;
}

.bg-primary {
	background-color: #bd0600!important;
        background-image: url("../img/snow.png");
}

.text-primary{
       font-family: 'Nunito', sans-serif;
       color: #7d0400!important;
}
